@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F6F8FC;
}

main {
  padding: 150px 0;
}